@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    margin-left: 6rem;
    padding: 1rem;
}

input:hover, input:active, input:focus,
button:hover, button:active, button:focus {
  outline: none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NavBar */

.navbar {
    width: 6rem;
    height: 100vh;
    position: fixed;
    background-color: #1F1E1F;
    transition: width 200ms ease;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 6rem;
    text-decoration: none;
    color: #3D7AB8;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}


.link-text {
    font-family: 'Turret Road';
    font-size: 1.2rem;
    font-weight: 700;
    display: none;
}

.nav-link i {
    font-size: 2rem;
    font-weight: 100;
    width: 3rem;
    min-width: 3rem;
    margin: 0 1.5rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6rem;
    text-decoration: none;
    color: #3D7AB8;
    width: 3rem;
    min-width: 3rem;
    margin: 1rem auto 1.5rem;
}

.logo-text {
    font-family: 'Turret Road';
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.5ch;
    text-align: center;
    padding-left: 0.5rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Side Calculator */

.side-calculator {
    width: 1rem;
    right: 0;
    height: 100vh;
    float: right;
    position: fixed;
    background-color: #1F1E1F;
    transition: width 200ms ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-calculator.open {
    width: 20rem;
    filter: grayscale(0%) opacity(1);
    background: #343233;
    color: #3D7AB8;
}

#calculator-reveal-button {
    font-family: 'Turret Road';
    background-color: #1F1E1F;
    position: absolute;
    left: -50px;
    border-radius: 50%;
    border-color: transparent;
    height: 3.5rem;
    width: 3.5rem;
}

.fa-calculator {
    font-size:2rem;
    font-weight: 100;
    color: #3D7AB8;
    filter: grayscale(100%) opacity(0.7);
}

.side-calculator.open .fa-calculator, 
.side-calculator.open #calculator-reveal-button {
    filter: grayscale(0%) opacity(1);
    background: #343233;
    color: #3D7AB8;
}

.calculator-blocker {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
}

.calculator-container {
    display: none;
    width: 90%;
    margin-left: auto;
    z-index: 1;
    height: 60%;
    margin-top: auto;
}

.calculator-container.open {
    display: block; 
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calculator-display {
    height: 10%;
    background-color: #0C0C0C;
    color: #fff;
    font-size: 2.5em;
    padding: 0.6rem 0.75rem;
    text-align: right;
    vertical-align: middle;
    border-radius: 5px 5px 0 0;
}

.calculator-keys {
    height: 90%;
    background-color: #1F1E1F;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(4, 1fr);
}

.calculator-keys > * {
    border: none;
    font-size: 1.5rem;
    background-color: #fafafa;
    padding: 0.5em 0.5em;
    position: relative;
    text-align: center;
}

.calculator-keys > *:active::before,
.calculator-keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
  background-color: #eee;
}

.key--AC {
    grid-column: 1 / span 2;
}

.key--equal {
    background-color: #3D7AB8;
    grid-column: 3 / span 2;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Main Solver */

/* ~~~~~~ Form ~~~~~~ */
#solver-form {
    text-align: center;
    height: 20vh;
}

/* ~~~~~~ Solver Buttons ~~~~~~ */

.solver-buttons {
    height: 80vh;
    text-align: center;
    bottom:0; 
    background-color: lightblue;
}

#math-buttons {
    display: flex;
    justify-content: space-evenly;
}


/* ~~~~~~ Results ~~~~~~ */

.results-container {
    display: flex;
    padding: 3rem;
}

.reveal-buttons {
    order:1;
    display: flex;
    flex-direction: column;
}

.solver-results {
    text-align: center;
    font-size: 1.5rem;
    order: 4;
}

.step {
    background-color: #fafafa;
    visibility: hidden;
}

.step-text {
    color: grey;
}

#answer .step-equation {
    background-color: lightblue;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Media Queries */

/* Small screens */
@media only screen and (max-width: 850px) {
    
    .navbar {
        top: 0;
        width: 100vw;
        height: 5rem;
    }

    .nav-link{
        height: 5rem;
    }

    .nav-link i {
        font-size: 2rem;
        font-weight: 100;
        width: 1.5rem;
        min-width: 1.5rem;
        margin: 0 1rem;
    }

    .logo {
        margin: 0 auto;
    }

    .nav-item:nth-child(2) {
        display: none;
    }

    .nav-item:last-child {
        margin-top: 0;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 5rem 0 0;
    }

    .side-calculator {
        bottom: 0;
        width: 100%;
        height: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #calculator-reveal-button {
        left: auto;
        top: -50px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 850px) {
  .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: #343233;
        color: #3D7AB8;
    }  

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: block;
    }

    .navbar:hover .logo {
        flex-direction: row;
    }

    .navbar:hover .logo-text {
        padding: 0;
    }

    .side-calculator.noJS:hover {
        cursor: pointer;
        width: 5rem;
        background-color: #343233;
        filter: grayscale(0%) opacity(1);
        background: #343233;
        color: #3D7AB8;
    }

    #calculator-reveal-button.noJS:hover, .side-calculator.noJS:hover #calculator-reveal-button,
    .side-calculator.noJS:hover .fa-calculator {
        cursor: pointer;
        filter: grayscale(0%) opacity(1);
        background: #343233;
        color: #3D7AB8;
    }
}
