@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
}

main {
    margin-left: 6rem;
    margin-right: 1rem;
}

input:hover, input:active, input:focus,
select:hover, select:active, select:focus,
button:hover, button:active, button:focus {
  outline: none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ NavBar */

.navbar {
    width: 6rem;
    height: 100vh;
    position: fixed;
    background-color: #1F1E1F;
    transition: width 200ms ease;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 6rem;
    text-decoration: none;
    color: #3D7AB8;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}


.link-text {
    font-family: 'Turret Road';
    font-size: 1.2rem;
    font-weight: 700;
    display: none;
}

.nav-link i {
    font-size: 2rem;
    font-weight: 100;
    width: 3rem;
    min-width: 3rem;
    margin: 0 1.5rem;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6rem;
    text-decoration: none;
    color: #3D7AB8;
    width: 3rem;
    min-width: 3rem;
    margin: 1rem auto 1.5rem;
}

.logo-text {
    font-family: 'Turret Road';
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: 0.5ch;
    text-align: center;
    padding-left: 0.5rem;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Side Calculator */

.side-calculator {
    width: 1rem;
    right: 0;
    height: 100vh;
    float: right;
    position: fixed;
    background-color: #1F1E1F;
    transition: width 200ms ease, height 300ms ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-calculator.open {
    width: 25vw;
    filter: grayscale(0%) opacity(1);
    background: #343233;
    color: #3D7AB8;
}

.side-calculator.sm-open {
    height: 40vh;
    filter: grayscale(0%) opacity(1);
    background: #343233;
    color: #3D7AB8;
}

#calculator-reveal-button {
    font-family: 'Turret Road';
    background-color: #1F1E1F;
    position: absolute;
    left: -50px;
    border-radius: 50%;
    border-color: transparent;
    height: 3.5rem;
    width: 3.5rem;
}

.fa-calculator {
    font-size:2rem;
    font-weight: 100;
    color: #3D7AB8;
    filter: grayscale(100%) opacity(0.7);
}

.side-calculator.open .fa-calculator, 
.side-calculator.open #calculator-reveal-button {
    filter: grayscale(0%) opacity(1);
    background: #343233;
    color: #3D7AB8;
}

.side-calculator.sm-open .fa-calculator, 
.side-calculator.sm-open #calculator-reveal-button {
    filter: grayscale(0%) opacity(1);
    background: #343233;
    color: #3D7AB8;
}

.calculator-blocker {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
    cursor: pointer;
}

.calculator-container {
    display: none;
    width: 90%;
    margin-left: auto;
    z-index: 1;
    height: 60%;
    margin-top: auto;
}

.calculator-container.open {
    display: block; 
}

.calculator-container.sm-open {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 70%;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.calculator-display {
    min-height: 15%;
    background-color: #0C0C0C;
    color: #fff;
    font-size: 2.5em;
    padding: 0.6rem 0.75rem;
    text-align: right;
    vertical-align: middle;
    border-radius: 5px 5px 0 0;
}

#display-previous {
    font-size: 1rem;
    color: lightgray;
    margin-bottom: 0.5rem;
}

#display-current {
    word-wrap: break-word; 
}

.calculator-keys {
    height: 85%;
    background-color: #1F1E1F;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(4, 1fr);
}

.calculator-keys > * {
    border: none;
    font-size: 1.5rem;
    background-color: #fafafa;
    padding: 0.5em 0.5em;
    position: relative;
    text-align: center;
}

.calculator-keys > *:active::before,
.calculator-keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
  background-color: #eee;
}

.key--clear {
    background-color: rgb(184, 121, 61);
    grid-column: 1 / span 2;
}

.key--equals {
    background-color: #3D7AB8;
    grid-column: 3 / span 2;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Main Solver */

/* ~~~~~~ Solver Input ~~~~~~ */

.solver-input {
    padding: 1rem 1rem 0;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#solver-form {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

#solver-form-input {
    width: 80%;
    margin: 0 auto;
    padding: 0.75rem 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    border: 1px solid rgb(184, 169, 169);
    border-radius: 2em;
}

#solver-form-input:focus {
    border-color: #3D7AB8;
    box-shadow: 0 0 5px 0 #3D7AB8;
}

.input-buttons {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#methods-selector {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    margin-right: 5px;
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    color: #fafafa;
    background-color: #1F1E1F;
    border-radius: 0.5rem;
}

#solver-form-submit {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding: 0.25rem 0.5rem;
    color: #fafafa;
    background-color: #343233;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
}

#solver-form-submit:hover {
    color: #fafafa;
    background-color: #1F1E1F;
    border-color: #3D7AB8;
    box-shadow: 0 0 5px 0 #3D7AB8; 
}

/* ~~~~~~ Solver Keyboard ~~~~~~ */


/* Style */
.solver-buttons {
    width: 100%;
    min-height: 60vh;
    text-align: center;
    bottom:0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#keyboard-buttons {
    background-color: #1F1E1F;
    border-radius: 2em;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(4rem, auto);
    width: 80%;
    gap: 2px;
    justify-content: space-evenly;

    padding: 1.5rem;
    grid-template-areas: 
    "log log-base natural-log open-bracket close-bracket key--7 key--8 key--9 key--plus"
    "sin cos key--tan indices squared key--4 key--5 key--6 key--minus"
    "integral-limits integral differentiate root square-root key--1 key--2 key--3 key--multiply"
    "limit-infinity limit-positive limit-negative less-than greater-than key--0 key--decimal key--backspace key--divide"
    "infinity pi theta less-than-equal greater-than-equal key--clear key--clear key--equals key--equals"
}

#keyboard-buttons > *  {
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    font-size: 1.5em;
    background-color: #dbdbdb;
    color: #000;
    overflow: hidden;
}

#keyboard-buttons > .key-sm-mathjax  {
    font-weight: 900;
    font-size: 1.5em;
}

#keyboard-buttons > .key-lg-mathjax  {
    font-weight: 900;
    font-size: 0.84em;
}

#keyboard-buttons > .key-norm  {
    font-weight: 500;
    font-size: 2em;
}

#log-base > sub, #indices > sup {
    font-size: 1.25rem;
}

/* Keyboard Grid Names */

#log {
    grid-area: log;
}
#log-base {
    grid-area: log-base;
}
#natural-log {
    grid-area: natural-log;
}
#open-bracket {
    grid-area: open-bracket;
}
#close-bracket {
    grid-area: close-bracket;
}
#key--7 {
    grid-area: key--7;
    background-color: #fafafa;
}
#key--8 {
    grid-area: key--8;
    background-color: #fafafa;
}
#key--9 {
    grid-area: key--9;
    background-color: #fafafa;
}
#key--plus {
    grid-area: key--plus;
}
#sin {
    grid-area: sin;
}
#cos {
    grid-area: cos;
}
#tan {
    grid-area: key--tan;
}
#indices {
    grid-area: indices;
}
#squared {
    grid-area: squared;
}
#key--4 {
    grid-area: key--4;
    background-color: #fafafa;
}
#key--5 {
    grid-area: key--5;
    background-color: #fafafa;
}
#key--6 {
    grid-area: key--6;
    background-color: #fafafa;
}
#key--minus {
    grid-area: key--minus;
}
#integral-limits {
    grid-area: integral-limits;
}
#integral {
    grid-area: integral;
}
#differentiate {
    grid-area: differentiate;
}
#root {
    grid-area: root;
}
#square-root {
    grid-area: square-root;
}
#key--1 {
    grid-area: key--1;
    background-color: #fafafa;
}
#key--2 {
    grid-area: key--2;
    background-color: #fafafa;
}
#key--3 {
    grid-area: key--3;
    background-color: #fafafa;
}
#key--multiply {
    grid-area: key--multiply;
}
#limit-infinity {
    grid-area: limit-infinity;
}
#limit-positive {
    grid-area: limit-positive;
}
#limit-negative {
    grid-area: limit-negative;
}
#less-than {
    grid-area: less-than;
}
#greater-than {
    grid-area: greater-than;
}
#key--0 {
    grid-area: key--0;
    background-color: #fafafa;
}
#key--decimal {
    grid-area: key--decimal;
    background-color: #fafafa;
}
#key--backspace {
    grid-area: key--backspace;
    background-color: #fafafa;
}
#key--divide {
    grid-area: key--divide;
}
#infinity {
    grid-area: infinity;
}
#pi {
    grid-area: pi;
}
#theta {
    grid-area: theta;
}
#less-than-equal {
    grid-area: less-than-equal;
}
#greater-than-equal {
    grid-area: greater-than-equal;
}
#key--clear {
    grid-area: key--clear;
    background-color: rgb(184, 121, 61);
}
#key--equals {
    grid-area: key--equals;
    background-color: #3D7AB8
}
#key--x {
    grid-area: key--x;
}
#key--y {
    grid-area: key--y;
}
#key--n {
    grid-area: key--n;
}
#key--e {
    grid-area: key--e;
}

/* ~~~~~~ Results ~~~~~~ */

.results {
    display: none;
}

#results-heading {
    font-family: "Turret Road", "Josefin Sans", sans-serif;
    font-size: 3rem;
    font-weight: 600;
    margin: 2rem 0 0 6rem;
    text-decoration: underline;
}

.results-container {
    display: flex;
    padding: 1rem 3rem 0 3rem;
    margin: 0 0 5rem;
}

.reveal-buttons {
    order:1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.reveal-buttons > button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    padding: 0.25rem 0.5rem;
    color: #fafafa;
    background-color: #343233;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
}

.reveal-buttons > button:hover {
    color: #fafafa;
    background-color: #1F1E1F;
    border-color: #3D7AB8;
    box-shadow: 0 0 5px 0 #3D7AB8; 
}

.solver-results {
    text-align: center;
    background-color: white;
    border-radius: 2rem;
    font-size: 1.3rem;
    order: 4;
    margin: 0 auto;
    overflow: auto;
}

.step {
    background-color: #1F1E1F;
    visibility: hidden;
}

.step-text {
    color: #aaaaaa;
}

.step-equation {
    color: #fff;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Media Queries */

/* Large Screens */

@media only screen and (min-width: 900px) {
  .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: #343233;
        color: #3D7AB8;
    }  

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: block;
    }

    .navbar:hover .logo {
        flex-direction: row;
    }

    .navbar:hover .logo-text {
        padding: 0;
    }

    .side-calculator.closed:hover {
        cursor: pointer;
        width: 5rem;
        background-color: #343233;
        filter: grayscale(0%) opacity(1);
        background: #343233;
        color: #3D7AB8;
    }

    #calculator-reveal-button.closed:hover, .side-calculator.closed:hover #calculator-reveal-button,
    .side-calculator.closed:hover .fa-calculator {
        cursor: pointer;
        filter: grayscale(0%) opacity(1);
        background: #343233;
        color: #3D7AB8;
    }
}

/* Medium screens */
@media only screen and (max-width: 900px) {
    .navbar {
        top: 0;
        width: 100vw;
        height: 5rem;
    }

    .nav-link{
        height: 5rem;
    }

    .nav-link i {
        font-size: 2rem;
        font-weight: 100;
        width: 1.5rem;
        min-width: 1.5rem;
        margin: 0 1rem;
    }

    .logo {
        margin: 0 auto;
    }

    .nav-item:nth-child(2) {
        display: none;
    }

    .nav-item:last-child {
        margin-top: 0;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    .side-calculator {
        bottom: 0;
        width: 100%;
        height: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #calculator-reveal-button {
        left: auto;
        top: -50px;
        margin: 0 auto;
    }
    
    main {
        margin: 5rem 0 0 0;
    }

    .solver-input {
        margin-top: 5rem;
        padding: 0;
        background-color: #fff;
    }

    #solver-form {
        width: 100%
    }

    .solver-buttons {
        align-items: flex-start;
    }

    #keyboard-buttons > button:not(.sm-screen) {
        display: none;
    }

    #keyboard-buttons {
        top: 0;
        padding: 1rem; 
        width: 95%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(4rem, auto);
        grid-template-areas: 
        "infinity pi theta log-base"
        "indices squared less-than-equal greater-than-equal"
        "root integral-limits integral differentiate"
        "square-root limit-infinity limit-positive limit-negative"
        "key--clear key--clear key--equals key--equals"
    }
}

/* Small screens */
@media only screen and (max-width: 550px) {

    .solver-input {
        justify-content: flex-end;
    }

    #solver-form {
        position: fixed;
        top: 6rem;
        z-index: 1;
    }

    #methods-selector {
        width: 65%;
    }

    .solver-buttons {
        align-items: flex-start;
    }

    #keyboard-buttons > button:not(.sm-screen) {
        display: none;
    }

    #keyboard-buttons {
        background-color: #fff;
        display: grid;
        gap: 0;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(4rem, auto);
        grid-template-areas: 
        "infinity pi theta log-base"
        "indices squared less-than-equal greater-than-equal"
        "root integral-limits integral differentiate"
        "square-root limit-infinity limit-positive limit-negative"
        "key--clear key--clear key--equals key--equals"
    }

    .results {
        width: 100%;
        text-align: center;
    }

    .results-container {
        flex-direction: column;
        padding: 0.25rem;
        width: 100%;
    }

    #results-heading {
        margin: 0;
    }

    .reveal-buttons {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
    }

    .reveal-button {
        margin-bottom: 1rem;
    }

    .solver-results {
        max-width: 100%;
        margin: 0;
    }

    .step-text {
        word-wrap: break-word; 
    }
}

@media only screen and (max-width: 900px) and (orientation:landscape) {
    .solver-input {
        min-height: 30vh;
    }

    #calculator-reveal-button {
        left: 0;
        top: -50px;
        margin: 0 auto;
    }
}
